@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

:root {
  --pomegranate: #f44336;
  --space-black: #263238;
  --cool-gray: #8a9093;
  --af-max-width: 1170px;
}

.App {
  display: grid;
  grid-template-columns: 100fr 270px;
  grid-column-gap: 30px;
  grid-template-rows: auto;
  font-family: 'Open Sans';
  max-width: var(--af-max-width);
  margin: auto;
}
