.ArticleCard {
  display: grid;
  grid-template-columns: 270px 100fr;
  margin: 12px 0;
  --height: 188px;
  height: var(--height);
  transition: all 300ms ease-in-out;
}

.ArticleCard:hover {
  background-color: #fafafa;
}

.ArticleCard__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  height: var(--height);
}

.ArticleCard__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 12px 24px;
}

.ArticleCard__title {
  font-size: 21px;
  color: var(--space-black);
  font-weight: 700;
  margin: 0;
}

.ArticleCard__excerpt {
  font-size: 15px;
  color: var(--cool-gray);
  margin-top: 8px;
}

.ArticleCard__info {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.ArticleCard__info__item {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--space-black);
}

.ArticleCard__info__category {
  color: var(--pomegranate);
}

.ArticleCard__info__author {
  margin-left: 12px;
  font-weight: bold;
}

.ArticleCard__info__date {
  color: var(--cool-gray);
  margin-left: 12px;
}

.ArticleCard__info__clock {
  width: 14px;
  margin-left: 12px;
}

.ArticleCard__info__read {
  color: var(--cool-gray);
  margin-left: 3px;
}
